################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/zmk_config_Keyball44/CopilotIndices/17.14.794.21998
/.vs/zmk_config_Keyball44/FileContentIndex
/.vs/zmk_config_Keyball44/v17
/.vs
